<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="${appTitle} + ' | Edit Admin User'"></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link th:replace="~{fragments/dependencies.html}" />
    </head>
    <body>
        <div th:replace="~{fragments/navigation.html}"></div>
        <h2>Edit Admin User</h2>
        <form action="#" th:action="@{'/admin-users/edit?id=' + ${user.id}}" th:object="${user}" method="post" class="form-floating">
            <div class="form-floating col-lg-4">
                <input type="text" id="username" class="form-control" placeholder="Username/Unique Identifier" th:field="*{username}" th:value="${user.username}" required>
                <label for="username">Username</label>
            </div>
            <div class="form-floating col-lg-4">
                <select id="role" class="form-select" aria-label="Select Role" th:field="*{userRole}">
                    <option th:each="role : ${roles}" th:value="${role.id}" th:text="${role.roleName}" th:selected="${user.userRole.id == role.id}"></option>
                </select>
                <label for="role">User Role</label>
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="apiEnabled" th:field="*{apiEnabled}" th:checked="${user.apiEnabled}">
                <label class="form-check-label" for="apiEnabled">API Access Enabled</label>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="reset" class="btn btn-secondary">Reset</button>
            </div>
        </form>
    </body>
</html>