<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="${appTitle} + ' | Download Document'"></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link th:replace="~{fragments/dependencies.html}" />
    </head>
    <body>
        <div th:replace="~{fragments/public_navigation.html}"></div>
        <h2>Download Document</h2>
        <div class="alert alert-danger" role="alert" th:if="${errorMsg.length() > 0}" th:text="${errorMsg}"></div>
        <form action="#" th:action="@{/download}" th:object="${downloadReq}" method="post" target="_blank">
            <div class="form-floating">
                <label for="docGuid" class="col-lg-1">Document GUID:</label>
                <div class="col-lg-3"><input type="text" id="docGuid" class="form-control" placeholder="Document GUID" th:field="*{docGUID}" th:value="${downloadReq.getDocGUID()}" required></div>
            </div>
            <div class="form-floating">
                <label for="sessionGuid" class="col-lg-1">Upload Session GUID:</label>
                <div class="col-lg-3"><input type="text" id="sessionGuid" class="form-control" placeholder="Upload Session GUID" th:field="*{sessionGUID}" th:value="${downloadReq.getSessionGUID()}" required></div>
            </div>
            <div class="form-floating">
                <label for="clientEmail" class="col-lg-1">Client Email:</label>
                <div class="col-lg-3"><input type="email" id="clientEmail" class="form-control" placeholder="Client Email" th:field="*{clientEmail}" th:value="${downloadReq.getClientEmail()}" required></div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Download File</button>
                <button type="reset" class="btn btn-secondary">Reset</button>
            </div>
        </form>
    </body>
</html>