<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title th:text="${appTitle} + ' | Delete Upload Session'"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:replace="~{fragments/dependencies.html}" />
  </head>
  <body>
    <div th:replace="~{fragments/navigation.html}"></div>
    <h2>Delete Upload Session</h2>
    <p th:text="'Are you sure that you want want to delete the following upload session: ' + ${us.guid} + '). This action can not be un-done.'"></p>
    <form action="#" th:action="@{'/upload-sessions/delete?guid=' + ${us.guid}}" method="post">
      <div class="form-group">
        <button type="submit" class="btn btn-danger">Delete Upload Session</button>
        <a th:href="@{/clients/view}"><button type="button" class="btn btn-secondary">Cancel</button></a>
      </div>
    </form>
  </body>
</html>