<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="${appTitle} + ' | Upload Document'"></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link th:replace="~{fragments/dependencies.html}" />
    </head>
    <body>
        <div th:replace="~{fragments/public_navigation.html}"></div>
        <h2>Upload Document</h2>
        <div class="alert alert-danger" role="alert" th:if="${errorMsg.length() > 0}"></div>
        <div class="alert alert-success" role="alert" th:if="${uploadSuccess}">File uploaded successfully.</div>
        <form action="#" th:action="@{/upload}" th:object="${uploadReq}" method="post" enctype="multipart/form-data">
            <div class="input-group">
                <label for="sessionGuid" class="col-lg-1">Upload Session GUID:</label>
                <input type="text" id="sessionGuid" class="form-control" placeholder="Upload Session GUID" th:field="*{sessionGUID}" th:value="${uploadReq.getSessionGUID()}" required>
            </div>
            <div class="input-group">
                <label for="clientEmail" class="col-lg-1">Client Email:</label>
                <input type="email" id="clientEmail" class="form-control" placeholder="Client Email" th:field="*{clientEmail}" th:value="${uploadReq.getClientEmail()}" required>
            </div>
            <div class="input-group">
                <label for="file" class="col-lg-1">Attach File:</label>
                <input type="file" id="file" value="file" class="form-control-file" th:field="*{file}">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Upload File</button>
                <button type="reset" class="btn btn-secondary">Reset</button>
            </div>
        </form>
    </body>
</html>