/* Add left padding to navigation title */
nav:first-child
{
    padding-left: 1.5em;
}

/* Add some padding for headers */
h2
{
    padding-left: .5em;
    padding-top: .5em;
}

form
{
    padding-left: 2em;
}

form > div
{
    margin-top: 1.5em;
}